/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
}

body.background {
    background: url(/Images/bgwhite.jpg);
    height: 100%;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.body_login {
    background-color: #222222;
}

table.results {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    max-width: 100%;
}

td.results, th.results {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr.results:nth-child(even) {
    background-color: #dddddd;
}

.panel-transparent {
    background: none;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    padding: 0px;
    border: unset;
}

    .panel-transparent .panel-heading {
        border-radius: 10px 10px 0px 0px;
        background: rgba(10, 10, 10, 0.9);
        height: 80px;
        padding:-10px;
    }

    .panel-transparent .panel-body {
        background: rgba(130,130,130, 0.5);
        border-radius: 0px 0px 10px 10px;
       
    }
img#logo {
    position: relative;
    top: -10px;
    left: 0px;
    right: 0px;
    float: left;
    height:80px;
    width: 180px;
}
