/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
}

body.background {
    background: url(/Images/bgwhite.jpg);
    height: 100%;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.body_login {
    background-color: #222222;
}

a.results{
    color: white;
    text-decoration: underline;
}
a.results:hover {
    color: #D9534F;
}

div.fixDate {
    background: #222222;
    border: 5px solid;
    border-radius: 15px;
    position: center;
    text-align: center;
}

h1.fixDate, h2.fixDate, label.fixDate {
    color: wheat;
}

table.results {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    color: #cccccc;
    background-color: #222222;
    max-width: 100%;
}

td.results, th.results, td.total {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align:center;
}

td.total {
    color: wheat;
    font-weight: bold;
}

th.results {
    color: #D9534F;
}
/*----- Conf for login panel -----*/
.panel-transparent {
    background: none;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    padding: 0px;
    border: unset;
}

    .panel-transparent .panel-heading {
        border-radius: 10px 10px 0px 0px;
        background: rgba(10, 10, 10, 0.9);
        height: 80px;
        padding:-10px;
    }

    .panel-transparent .panel-body {
        background: rgba(130,130,130, 0.5);
        border-radius: 0px 0px 10px 10px;
       
    }
img#logo {
    position: relative;
    top: -10px;
    left: 0px;
    right: 0px;
    float: left;
    height:80px;
    width: 180px;
}
/*----- End Conf for login panel -----*/

/*----- Conf for multitab panee in CrearTarea form -----*/
.nav-tabs {
    border-bottom: 2px solid #DDD;
}

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        border-width: 0;
    }

    .nav-tabs > li > a {
        border: none;
        color: #666;
    }

        .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
            border: none;
            color: #990000 !important;
            background: transparent;
        }

        .nav-tabs > li > a::after {
            content: "";
            background: #990000;
            height: 2px;
            position: absolute;
            width: 100%;
            left: 0px;
            bottom: -1px;
            transition: all 250ms ease 0s;
            transform: scale(0);
        }

    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
        transform: scale(1);
    }

.tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

.tab-content {
    padding: 20px
}

.card {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}
/* ----- END Conf for multitab panel in CrearTarea form -----*/

/* ----- Results Checkbox -----*/
/*Tomado de: https://webdesign.tutsplus.com/articles/quick-tip-easy-css3-checkboxes-and-radio-buttons--webdesign-8953 */
input[type="checkbox"].results {
    display: none;
}
    input[type="checkbox"].results + label span {
        display: inline-block;
        width: 19px;
        height: 19px;
        margin: -2px 10px 0 0;
        vertical-align: middle;
        background: url(../Images/check_radio_sheet-inverted.png) left top no-repeat;
        cursor: pointer;
    }

    input[type="checkbox"].results:checked + label span {
        background: url(../Images/check_radio_sheet-inverted.png) -19px top no-repeat;
    }
/* ----- End Results Checkbox -----*/
/* ----- Custom Checkbox -----*/
/*Tomado de: https://webdesign.tutsplus.com/articles/quick-tip-easy-css3-checkboxes-and-radio-buttons--webdesign-8953 */
input[type="checkbox"].custom {
    display: none;
}

    input[type="checkbox"].custom + label span {
        display: inline-block;
        width: 19px;
        height: 19px;
        margin: -2px 10px 0 0;
        vertical-align: middle;
        background: url(../Images/check_radio_sheet.png) left top no-repeat;
        cursor: pointer;
    }

    input[type="checkbox"].custom:checked + label span {
        background: url(../Images/check_radio_sheet.png) -19px top no-repeat;
    }
/* ----- End Custom Checkbox -----*/

/* ----- Report table -----*/
table#report {
    width: 100%;
}

td#reportTd{
    width: 60%;
}
/* ----- End report table-----*/